:root {
    --gunmetal: #30343F;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    flex-grow: 1;
}

.navbar {
    height: 70px;
    background-color: var(--gunmetal);
}

.navbar-brand {
    color: white;
}

.btn-css {
    width: 150px;
    font-size: 30px;
    border: solid 1px var(--gunmetal);
    color: var(--gunmetal);
    background-color: transparent;
    border-radius: 10px 10px 10px 10px;
}

.btn-css:hover {
    border: solid 1px var(--gunmetal);
    background-color: var(--gunmetal);
    color: white;
}
